<div class="admin">
  <h1>
    qa works!
  </h1>
    <!--<form (ngSubmit)="sumbitForm($event,user)"  #InfoForm="ngForm">-->

      <!--<div class="row justify-content-md-center">-->
        <!--<h4>FIELD TITLE</h4>-->
        <!--<div class="form-group">-->
          <!--<div class="col col-sm-2">-->
            <!--<label>Title1</label>-->
            <!--<input type="email" [(ngModel)]="user.title1"-->
                   <!--name="title1" class="form-control"-->
                   <!--name="title1" placeholder="title1"-->
                   <!--required  #title1="ngModel" />-->
            <!--<div [hidden]="title1.valid || title1.pristine"-->
                 <!--class="alert alert-danger">-->
              <!--please insert title1-->
            <!--</div>-->
          <!--</div>-->
          <!--<div class="col col-sm-2">-->
            <!--<label for="2">Title</label>-->
            <!--<input type="text" class="form-control" id="2" aria-describedby="emailHelp" placeholder="Enter email">-->
          <!--</div>-->
          <!--<div class="col col-sm-2">-->
            <!--<label for="3">Title</label>-->
            <!--<input type="text" class="form-control" id="3" aria-describedby="emailHelp" placeholder="Enter email">-->

          <!--</div>-->
          <!--<div class="col col-sm-2">-->
            <!--<label for="4">Title</label>-->
            <!--<input type="date" class="form-control" id="4" aria-describedby="emailHelp" placeholder="Enter email">-->

          <!--</div>-->
          <!--<div class="col col-sm-2">-->
            <!--<label for="5">Title</label>-->
            <!--<input type="datetime" class="form-control" id="5" aria-describedby="emailHelp" placeholder="Enter email">-->
          <!--</div>-->
          <!--<div class="col col-sm-2">-->
            <!--<label for="6">Title</label>-->
            <!--<input type="text" class="form-control" id="6" aria-describedby="emailHelp" placeholder="Enter email">-->
          <!--</div>-->
          <!--<br><br><br>-->


          <!--<h4>FIELD TITLE</h4>-->
          <!--<div class="row justify-content-md-left">-->
            <!--<div class="col-lg-6">-->
              <!--<div class="input-group">-->
              <!--<span class="input-group-sm">-->
                <!--<input type="checkbox" (change) ="setIsChecked()" aria-label="Checkbox for following text input">-->
                <!--<label class="sml">Example text 1</label>-->
              <!--</span>-->
                <!--<span (change) ="setIsChecked()" class="input-group-sm">-->
                <!--<input type="checkbox" aria-label="Checkbox for following text input">-->
                <!--<label class="sml">Example text 2</label>-->
              <!--</span>-->
                <!--<span (change) ="setIsChecked()" class="input-group-sm">-->
                  <!--<input type="checkbox" aria-label="Checkbox for following text input">-->
                  <!--<label class="sml">Example text 3</label>-->
               <!--</span>-->
              <!--</div>-->
            <!--</div>-->
          <!--</div>-->
          <!--<h4>FIELD TITLE</h4>-->

          <!--<form role = "form">-->
            <!--<div class = "form-group">-->
              <!--<textarea class = "form-control" rows = "2"></textarea>-->
            <!--</div>-->
          <!--</form>-->
          <!--<h4>FIELD TITLE</h4>-->

          <!--<form role = "form">-->
            <!--<div class = "form-group">-->
              <!--<textarea class = "form-control" rows = "2"></textarea>-->
            <!--</div>-->
          <!--</form>-->
          <!--<div class="error">-->
            <!--&lt;!&ndash;*ngIf="isChecked"&ndash;&gt;-->
            <!--<div class = "form-group">-->
              <!--<textarea class = "form-control" rows = "2">-->
                <!--<h3></h3><h3></h3><h3></h3><h3></h3><h3></h3>-->
                <!--&lt;!&ndash;{{user.title1}}&ndash;&gt;-->
                <!--&lt;!&ndash;{{user.title2}}&ndash;&gt;-->
                <!--&lt;!&ndash;{{user.title3}}&ndash;&gt;-->
                <!--&lt;!&ndash;{{user.title4}}&ndash;&gt;-->
                <!--&lt;!&ndash;{{user.title5}}&ndash;&gt;-->
                <!--&lt;!&ndash;{{user.title6}}&ndash;&gt;-->
                <!--&lt;!&ndash;{{user.title7}}&ndash;&gt;-->
              <!--</textarea>-->
            <!--</div>-->
          <!--</div>-->
        <!--</div>-->

        <!--<div class="pull-right">-->
          <!--<button type="submit" class="btn btn1" [disabled]="!InfoForm.form.valid" >Submit</button>-->
        <!--</div>-->

      <!--</div>-->
    <!--</form>-->

</div>

