nav{
  background-color: #1d608b;
}
.navbar-fixed-top{
  margin-top: 75px;
}

.navbar-nav>li>a{
  background-color: #1d608b;
  transition: background-color .8s;
}
.navbar-nav>li>a:hover{
  background-color: #42A948;
}
.navbar-nav>li>a:active{
  background-color: #42A948;
}
.icon-bar{
  background-color: white;
}
@media screen and (min-width: 768px){
  .navbar-nav>li>a ,p {
    padding-top: 10px;
    padding-bottom:18px;
    color: white;
    font-size: 15px;
  }
}
