<div class="container">
  <div class="tbl-header">
    <table cellpadding="0" cellspacing="0" border="0">
      <thead>
      <tr>
        <th>Name</th>
        <th>Login</th>
        <th>Password</th>
        <th>Permissions</th>
        <th>Actions</th>
      </tr>
      </thead>
    </table>
  </div>
  <div class="tbl-content">
    <table cellpadding="0" cellspacing="0" border="0">
      <tbody>
      <section *ngFor="let user of users" >
      <tr>
        <td>id {{user.id}}</td>
        <td>{{user.username}}</td>
        <td>{{user.password}}</td>
        <td class="checkbox">
          <tr>
            <td><label><input type="checkbox" name="vehicle" value="Admin" checked="checked">Admin</label></td>
            <td><label><input type="checkbox" name="vehicle" value="Qa" checked="checked">Qa-form</label><br>
            </td>
          </tr>
          <tr>
            <td><label><input type="checkbox" name="vehicle" value="Transcript" checked="checked">Transcript</label>
            </td>
            <td><label><input type="checkbox" name="vehicle" value="Statistic" checked="checked">Statistic</label>
            </td>
          </tr>
        </td>
        <td class="user_btn">
          <button type="button" class="btn btn-default btn-lg" aria-label="Left Align">
            <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
          </button>
        </td>
      </tr>
      </section>

      <!--<tr>-->
        <!--<td>Moshe</td>-->
        <!--<td>Qa@gmail.com</td>-->
        <!--<td>1922234</td>-->
        <!--<td></td>-->
        <!--<td></td>-->
      <!--</tr>-->
      <!--<tr>-->
        <!--<td>Nisim</td>-->
        <!--<td>transcripts@gmail.com</td>-->
        <!--<td>654321</td>-->
        <!--<td></td>-->
        <!--<td></td>-->
      <!--</tr>-->

      </tbody>
    </table>
  </div>
</div>

