:host {
  display: block;
  height:950px;
  width:100%;
  background-image: url("../../assets/bg-blank.jpg");
  background-repeat: no-repeat;
  background-size:cover;
  background-position:center;
}
nav{
  background-color: #0b3c5d;
}
.navbar-nav>li>a{
  background-color: #0b3c5d;
  transition: background-color .8s;
}
.navbar-nav>li>a:hover{
  background-color: #42A948;
}
.navbar-nav>li>a:active{
  background-color: #42A948;
}
.p{
  margin: inherit;
  color: white;
}


/*.navbar-nav>li>a:active{*/
/*background-color: #a94442;*/
/*}*/
.icon-bar{
  background-color: white;
}
@media screen and (min-width: 768px){
  .navbar-nav>li>a ,p {
    padding-top: 25px;
    padding-bottom:30px;
    color: white;
    font-size: 18px;
  }
  .p{
    padding-top: 19.78%;
  }
  .navbar-nav{
    height:75px;

  }
}
