<nav class="navbar navbar-light" style="background-color: #0b3c5d;">
  <!-- Navbar content -->
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
        <!--<span class="sr-only">Toggle navigation</span>-->
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <!--<a href="#" class="navbar-brand">Brand</a>-->
      <img class="navbar-logo" alt="logo" width="75px" height="75px"  src="../../assets/logo.png">


    </div>

    <nav>
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse">
        <!--<img class="profile-img" alt="logo"  width="80px" height="78px" src="../../assets/logo.png">-->

        <ul class="nav navbar-nav">
          <li><a routerLink="admin" routerLinkActive="active">Admin panel</a></li>
          <li><a routerLink="statistics" routerLinkActive="active">Statistics</a></li>
          <li><a routerLink="qa" routerLinkActive="active">QA Form</a></li>
          <li><a routerLink="scripts" routerLinkActive="active">Transcripts</a></li>

        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><p>Welcome User</p></li>
          <li><a (click)="setLogout()">Log Out</a></li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </nav>
  </div><!-- /.container-fluid -->
</nav>
<router-outlet></router-outlet>
